@{
    ViewBag.Title = "Dashboard";
}

<div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div id="portlet_ServerStatusCount">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div id="portlet_RAMCount">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div id="portlet_HDDCount">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div id="portlet_RebootCount">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div id="portlet_SiteVistorsCount">
                <div class="loader-fb"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div id="portlet_DailyStatus">
                <div class="loader-fb"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="portlet_RAMUsage">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="portlet_SiteVisitors">
                <div class="loader-fb"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div id="portlet_Monitor">
                <div class="loader-fb"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div id="portlet_SPSites">
                <div class="loader-fb"></div>
            </div>
        </div>
    </div>

    <input type="hidden" id="uPrtServerLog" value="@Url.Action("ViewServerLog", "HiradServerLog")" />
    <input type="hidden" id="uPrtSPSites" value="@Url.Action("ViewPortlet_SharePointSites", "Dashboard")" />
    <input type="hidden" id="uPrtPMonitor" value="@Url.Action("ViewPortlet_Monitoring", "Dashboard")" />
    <input type="hidden" id="uPrtSiteVisitors" value="@Url.Action("ViewPortlet_WebBlog", "Dashboard")" />
    <input type="hidden" id="uPrtRAMUsage" value="@Url.Action("ViewPortlet_RAMUsage", "Dashboard")" />
    <input type="hidden" id="uPrtDailyStatus" value="@Url.Action("ViewPortlet_DailyStatus", "Dashboard")" />
    <input type="hidden" id="uPrtSiteVistorsCount" value="@Url.Action("ViewPortlet_SiteVisitorsCount", "Dashboard")" />
    <input type="hidden" id="uPrtRebootCount" value="@Url.Action("ViewPortlet_RebootCount", "Dashboard")" />
    <input type="hidden" id="uPrtHDDCount" value="@Url.Action("ViewPortlet_HDDCount", "Dashboard")" />
    <input type="hidden" id="uPrtServerStatusCount" value="@Url.Action("ViewPortlet_ServerStatusCount", "Dashboard")" />
    <input type="hidden" id="uPrtRAMCount" value="@Url.Action("ViewPortlet_RAMCount", "Dashboard")" />
    <input type="hidden" id="hdnRamThreshold" value="@ViewBag.RamThreshold" /> 
    <input type="hidden" id="hdnHddThreshold" value="@ViewBag.HddThreshold" /> 
    <input type="hidden" id="hdnspanRebootResetDays" value="@ViewBag.RebootResetDays" />
    <input type="hidden" id="uGetWebList" value="@Url.Action("GetAllWebAppsList", "HiradWeb")" />
</div>

@* All the required css for this corresponding page should be added here *@
@section head{
    @Styles.Render("~/Content/dataTablecss")
    @Styles.Render("~/Content/chartcss")
    
}


@* All the required js for this corresponding page should be added here  *@
@section scripts{
    @Scripts.Render("~/bundles/dashboardPageJs")
    @Scripts.Render("~/bundles/appsJs")

    <script type="text/javascript">
        $(document).ready(function () {
            initJsMethods.invokePortlet();
        });
    </script>
}