@{
    ViewBag.Title = "";
}

<div class="card">
    <div class="card-header" data-background-color="purple">        
        <i class="fa fa-user" aria-hidden="true"></i> <h4 class="title" style="display: inline;">User Details</h4>

        <button class="btn btn-warning pull-right" type="button" title="Add User Information" id="btnUserDetailAdd">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add User 
        </button>
    </div>
    <div class="card-content">
        <table class="table table-striped table-bordered table-hover table-condensed table-striped" id="hiUserDetail" >
            <thead>
                <tr>
                   <th class="sortingDisabled notExport"></th>
                  @*    <th class="notExport"></th>
                    <th class="notExport"></th>*@
                        <th>User Name</th>
                    <th>User NUID</th>                                     
                    <th>User Email</th>  
                    <th>User Type</th> 
                    <th>Is Active</th> 
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<input type="hidden" id="uSearchUserList" value="@Url.Action("GetUserList", "UserDetail")" />
<input type="hidden" id="uViewUserDeatil" value="@Url.Action("ViewUserInformation", "UserDetail")" />
<input type="hidden" id="hdnUserDeleteUrl" value="@Url.Action("DeleteUser", "UserDetail")" />

@* All the required css for this corresponding page should be added here *@
@section head{
    @Styles.Render("~/Content/dataTablecss")
    
}


@* All the required js for this corresponding page should be added here  *@
@section scripts{
    @Scripts.Render("~/bundles/dashboardPageJs")
    @Scripts.Render("~/bundles/appsJs")

    <script>
        //Dom Ready
        $(function () {
            UserDetailCRUD.reset_datatable_state();
            UserDetailCRUD.searchResult();
        });
    </script>
}

