@model HiAsgRAS.ViewModel.UserDetailModel

<input type="hidden" id="hdnSaveUserUrl" value="@Url.Action("UpdateUserList", "UserDetail")" />
<input type="hidden" id="hdnUserDetailAction" value="@Model.ActionMode" />
<input type="hidden" id="hdnSelectedRowId" value="@Model.Id" />
<input type="hidden" id="txtNewUserId" value="@Model.NewUserId" />
<input type="hidden" id="hdnCreatedBy" value="@Model.CreatedBy" />
<input type="hidden" id="hdnCreatedDate" value="@Model.CreatedDate" />


<div class="card">
    <div class="card-header" data-background-color="purple">
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
        <i class="fa fa-user" aria-hidden="true"></i> <h4 class="title" style="display: inline;">User Detail</h4>

    </div>
    <div class="card-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">User NUID</label>
                            <input type="text" class="form-control" id="txtUserNUID" maxlength="50" value="@Model.NUID">

                        </div>
                    </div>
                  
    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">User Name</label>
                            <input type="text" class="form-control" id="txtUserName" maxlength="200"
                                    value="@Model.UserName">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">User Email</label>
                            <input type="text" class="form-control" id="txtUserEmail" maxlength="200"
                                    value="@Model.EmailID">
                        </div>
                    </div>

                   
                </div>

             
                <div class="row">

                <div class="col-md-4">
                                  <div class="form-group">
                            @{
            string adminChecked = "", generalChecked = "";
            if (!string.IsNullOrEmpty(Model.UserType) &&
                Model.UserType.ToUpper().Trim().Equals("A"))
            {
                adminChecked = "checked='checked'";
            }
            else
            {
                generalChecked = "checked='checked'";
            }

            <div class="form-group label-floating">
                <label class="control-label">User Type</label>
                <input type="radio" id="rdYes" name="rdUserType" value="A" style="width: 20px" @adminChecked />Admin &nbsp;
                <input type="radio" id="rdNo" name="rdUserType" value="G" style="width: 20px" @generalChecked>General
            </div>
                            }
                        </div>
                    </div>
                   
 <div class="col-md-4">
                        <div class="form-group">
                            @{
            string yesChecked = "", noChecked = "";
            if (!string.IsNullOrEmpty(Model.IsActive) &&
                Model.IsActive.ToLower().Trim().Equals("no"))
            {
                 noChecked = "checked='checked'";
            }
            else 
            {
               
                yesChecked = "checked='checked'";
            }

            <div class="form-group label-floating">
                <label class="control-label">Is Active</label>
                <input type="radio" id="rdYes" name="rdActive" value="yes" style="width: 20px" @yesChecked />Yes &nbsp;
                <input type="radio" id="rdNo" name="rdActive" value="no" style="width: 20px" @noChecked>No
            </div>
                            }
                        </div>
                    </div>
                </div>
             

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="btnCancel ">Cancel</button>
                        <button type="button" class="btn btn-primary pull-right" id="btnUserDetailUpdate">Update</button>
                    </div>
                </div>


                <div class="clearfix"></div>

                <!--Close div-->
            </div>
        }
    </div>
</div>

