<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   @* <meta http-equiv="refresh" content="300">*@
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")" />
    <title>HI Dashboard</title>

    @Styles.Render("~/Content/SiteReqCss")
    @RenderSection("head", required: false)

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using HiAsgRAS.Dashboard.Web.Common
    @{
        string userType = Request.RequestContext.HttpContext.Session[HiAsgRAS.Common.ApplicationConstants.Constants.UserType].ToString();
    }
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="@Url.Content("~/assets/img/sidebar-1.jpg")">

            <div class="logo">
                <a href="@Url.Action("Index", "Dashboard")" class="simple-text">HI ASG CDAS</a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    @if (userType.Equals(HiAsgRAS.Common.ApplicationConstants.UserType.Admin))
                    {
                        <li class="@HtmlMenu.MenuActive(@Html, "Index", "Dashboard")">
                            <a href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <p>Hawaii - Dashboard</p>
                            </a>
                        </li>
                    }
                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "HiradServer")">
                        <a href="@Url.Action("Index", "HiradServer")">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <p>Servers</p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "HiradApp")">
                        <a href="@Url.Action("Index", "HiradApp")">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            <p>Client Apps</p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "WebApplication", "HiradWeb")">
                        <a href="@Url.Action("WebApplication", "HiradWeb", new {webSiteType="Web"})">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <p>Web Apps</p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "SPApplication", "HiradWeb")">
                        <a href="@Url.Action("SPApplication", "HiradWeb", new {webSiteType="SP"})">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <p>SharePoint Apps</p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "HiradDbMonitor")">
                        <a href="@Url.Action("Index", "HiradDbMonitor")">
                            <i class="fa fa-database" aria-hidden="true"></i>
                            <p>Database</p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "SharedPath")">
                        <a href="@Url.Action("Index", "SharedPath")">
                            <i class="fa fa-share-square" aria-hidden="true"></i>
                            <p>Shared Network Path</p>
                        </a>
                    </li>
                    @if (userType.Equals(HiAsgRAS.Common.ApplicationConstants.UserType.Admin))
                    {
                        <li class="@HtmlMenu.MenuActive(@Html, "Index", "BAOInfo")">
                            <a href="@Url.Action("Index", "BAOInfo")">
                                <i class="fa fa-anchor" aria-hidden="true"></i>
                                <p>BAO Information</p>
                            </a>
                        </li>
                      @*  <li class="@HtmlMenu.MenuActive(@Html, "Index", "LayerInfo")">
                            <a href="@Url.Action("Index", "LayerInfo")">
                                <i class="fa fa-adjust" aria-hidden="true"></i>
                                <p>Layer List</p>
                            </a>
                        </li>*@

                        <li class="@HtmlMenu.MenuActive(@Html, "Index", "MonitoringConfig")">
                            <a href="@Url.Action("Index", "MonitoringConfig")">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <p>Monitoring App Config</p>
                            </a>
                        </li>

                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "ServerDecommission")">
                        <a href="@Url.Action("Index", "ServerDecommission")">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <p>Server Decommission </p>
                        </a>
                    </li>
                    <li class="@HtmlMenu.MenuActive(@Html, "Index", "ApplicationInformation")">
                            <a href="@Url.Action("Index", "ApplicationInformation")">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <p>Application Information</p>
                            </a>
                        </li>
                        <li class="@HtmlMenu.MenuActive(@Html, "Index", "UserDetail")">
                            <a href="@Url.Action("Index", "UserDetail")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <p>User Detail</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">@ViewBag.Title</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Welcome @User.Identity.Name
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div id="body">
                            @RenderSection("featured", required: false)
                            <section class="content-wrapper main-content clear-fix">
                                @RenderBody()
                                <input type="hidden" id="hdnUserType" data-value="@userType" value="@userType" />
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <img class="pull-left" src="@Url.Content("~/assets/img/kp_logo.gif")" width="174" height="54" />
                    &nbsp;&nbsp;

                    <p class="copyright">
                        &copy;&nbsp;
                        <script>document.write(new Date().getFullYear())</script>
                        &nbsp;Kaiser Permanente ®. Developed by KPIT - Hawaii

                    </p>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal Dialog-->
    <div class="modal fade" id="dvModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div id="dvMdlDlgContent"></div>
        </div>
    </div>
    <!--End of Modal-->
    <!-- Sub Modal Dialog-->
    <div class="modal fade" id="dvSubModal" role="dialog">
        <div class="modal-dialog modal-md" style="width:700px">
            <div id="dvSubMdlDlgContent"></div>
        </div>
    </div>
    <!--End of Sub Modal-->
    <!-- Modal Dialog-->
    <div class="modal fade" id="dvLoadModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="fa fa-server" aria-hidden="true"></i> Loading...
                </div>
                <div class="card-content">
                    <div class="loader-fb"></div>
                    <p><br /><br /><br /><br /><br /><br /><br /><br /></p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Please wait...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <!--   Core JS Files   -->
    @Scripts.Render("~/bundles/SiteReqJs")
    <script>
        $(function () {
            $.fn.modal.prototype.constructor.Constructor.DEFAULTS.keyboard = false;
            $.fn.modal.prototype.constructor.Constructor.DEFAULTS.backdrop = 'static';            
        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
