@model HiAsgRAS.ViewModel.HiradWebModel

<input type="hidden" id="hdnWebAppSaveUrl" value="@Url.Action("UpdateWebAppList", "HiradWeb")" />
<input type="hidden" id="uSearchServerUrl" value="@Url.Action("SearchServerInformation", "HiradWeb")" />
<input type="hidden" id="uSearchBAOUrl" value="@Url.Action("SearchBAOInformation", "HiradWeb")" />
<input type="hidden" id="hdnWebAppAction" value="@Model.ActionMode" />
<input type="hidden" id="hdnSelectedRowId" value="@Model.Id" />
<input type="hidden" id="txtNewWebAppId" value="@Model.NewWebAppId" />
<input type="hidden" id="txtStatusTypeChangedOn" value="@Model.StatusTypeChangedOn" />
<input type="hidden" id="hdnPrvStatusTypeId" value="@Model.StatusTypeId" />
<input type="hidden" id="hdnCreatedBy" value="@Model.CreatedBy" />
<input type="hidden" id="hdnCreatedDate" value="@Model.CreatedDate" />
<input type="hidden" id="uSearchServerList" value="@Url.Action("SearchServerList", "HiradServer")" />
<input type="hidden" id="uSearchBAOList" value="@Url.Action("GetBAOList", "BAOInfo")" />
<input type="hidden" id="hdnSeverSearchFor" />
<input type="hidden" id="hdnwebSiteType" value="@Model.WebSiteType" />
<div class="card">
    <div class="card-header" data-background-color="purple">
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>

        @{
            string app = "";
            if (@Session["WebSiteType"].ToString().ToLower() == "web")
            {
                app = "Web";
                <i class="fa fa-laptop" aria-hidden="true"></i>
            }
            else
            {
                app = "Sharepoint";
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            }
            <h4 class="title" style="display: inline;">@app App</h4>
        }
    </div>
    <div class="card-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Web Folder</label>
                            <input type="text" class="form-control" id="txtWebWF" maxlength="255" value="@Model.WebFolder">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Web Site</label>
                            <input type="text" class="form-control" id="txtWebWS" maxlength="255"
                                   value="@Model.WebSite">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Web Stat</label>
                            <input type="text" class="form-control" id="txtWebWST" maxlength="255" value="@Model.WebStat">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">ABC ID</label>
                            <input type="text" class="form-control" id="txtWebABC" maxlength="50"
                                   value="@Model.ABCID">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Remedy Group Name</label>
                            <input type="text" class="form-control" id="txtWebRgn" maxlength="100"
                                   value="@Model.RemedyGroupName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Status</label>
                            <input type="text" class="form-control" id="txtWebStatus" maxlength="100" value="@Model.Status">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Primary Support</label>
                            <input type="text" class="form-control" id="txtWebPS" maxlength="100"
                                   value="@Model.PrimayContact">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Secondary Support</label>
                            <input type="text" class="form-control" id="txtWebSS"
                                   value="@Model.SecondaryContact" maxlength="100">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">BP Contact Info</label>
                            <input type="text" class="form-control" id="txtWebBPC" maxlength="100"
                                   readonly="readonly" value="@Model.BPContact">
                            <input type="hidden" id="txtWebBPCId" value="@Model.BAOId" />

                        </div>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group label-floating">
                            <button class="btn btn-facebook"
                                    style="padding: 5px 5px;"
                                    title="Get Contact List"
                                    id="btnBAOSearch">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                @{

            if (@Session["WebSiteType"].ToString().ToLower() == "web")
            {
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">APP Server</label>
                            <input type="text" class="form-control" id="txtWebAppSvr" readonly="readonly"
                                   value="@Model.APPServerText" maxlength="100">
                            <input type="hidden" id="txtServerId" value="@Model.AppServerId" />
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group label-floating">
                            <button class="btn btn-facebook"
                                    style="padding: 5px 5px;"
                                    title="Get Server List"
                                    id="btnServerSearch">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">DB Server</label>
                            <input type="text" class="form-control" id="txtWebDbSvr" maxlength="100"
                                   readonly="readonly" value="@Model.DBServerText">
                            <input type="hidden" id="txtDBServerId" value="@Model.DbServerId" />
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group label-floating">
                            <button class="btn btn-facebook"
                                    style="padding: 5px 5px;"
                                    title="Get Server List"
                                    id="btnDBServerSearch">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">DB Name</label>
                            <input type="text" class="form-control" id="txtDBName" maxlength="50"
                                   value="@Model.DBName">
                        </div>
                    </div>


                </div>
            }
                }
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Status Type</label>
                            @Html.DropDownListFor(x => x.StatusTypeId, Model.StatusTypes,
                                            new { @class = "form-control", @id = "ddlStatusType" })
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group">
                            @{
            string yesChecked = "", noChecked = "";
            if (!string.IsNullOrEmpty(Model.Active) &&
                (Model.Active.ToLower().Trim().Equals("no") || Model.Active.ToLower().Trim().Equals("n")))
            {
                noChecked = "checked='checked'";
            }
            else
            {
                yesChecked = "checked='checked'";
            }

            <div class="form-group label-floating">
                <label class="control-label">Active</label>
                <input type="radio" id="rdYes" name="rdActive" value="yes" style="width: 20px" @yesChecked />Yes &nbsp;
                <input type="radio" id="rdNo" name="rdActive" value="no" style="width: 20px" @noChecked>No
            </div>
                            }
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            @{
            string yesChecked1 = "", noChecked1 = "";
            if (Model.IsRenewal.Equals(true))
            {
                yesChecked1 = "checked='checked'";
            }
            else
            {
                noChecked1 = "checked='checked'";

            }

            <div class="form-group label-floating">
                <label class="control-label">Is Renewal</label>
                <input type="radio" id="rdYes" name="rdAIsRenewal" value="true" style="width: 20px" @yesChecked1 />Yes &nbsp;
                <input type="radio" id="rdNo" name="rdAIsRenewal" value="false" style="width: 20px" @noChecked1>No
            </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            @{
            string disable = "";
            if (!Model.IsRenewal.Equals(true))
            {
                disable = "disabled='disabled'";
            }
            var ardDate = Model.ApplicationRenewalDate.HasValue
                                ? Model.ApplicationRenewalDate.Value.ToString("MM/dd/yyyy") : null;

                                <label class="control-label">Application Renewal Date</label>
                                <input type="text" id="txtArd" maxlength="10" name="txtArd" value="@ardDate"
                                       class="form-control input-small" style="margin-left: 0px;" @disable />
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @{
            yesChecked = "";
            if (Model.IsMonitor)
            {
                yesChecked = " checked='checked'";
            }
            <div class="form-group label-floating">
                <label class="control-label">Include in Server Monitor tool?</label>
                <input type="checkbox" id="chkIsMonitor" @yesChecked />
            </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">Production Support Agreement</label>
                            <input type="text" class="form-control" id="txtWebPSA" value="@Model.ProdSupportAgreement" name="txtWebPSA" />
                            <a id="lnkWebPSA" target="_blank" href="@Model.ProdSupportAgreement">@Model.ProdSupportAgreement</a>
                            @*<input type="file" style="visibility:hidden" />*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group label-floating">
                                <label class="control-label">Description</label>
                                @Html.TextArea("txtWebComments", @Model.Description, new { rows = 10, @class = "form-control TextArea" })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdnHiradNew" value="@Model.HiradNew" />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="btnCancel ">Cancel</button>
                        <button type="button" class="btn btn-primary pull-right" id="btnWebAppUpdate">Update</button>
                    </div>
                </div>


                <div class="clearfix"></div>

                <!--Close div-->
            </div>
        }
    </div>
</div>
