@model HiAsgRAS.ViewModel.BAOInfoModel
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Application BAO Information</title>
    @Styles.Render("~/Content/SiteReqCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/SiteReqJs")
</head>
<body>
    <div class="wrapper" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 25px;">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <i class="fa fa-anchor" aria-hidden="true"></i> <h4 class="title" style="display: inline;">
                Update Application Information</h4>
            </div>
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    var remedy = "";
                    var remedyLabel = "";
                    if (@Model.ApplicationInformation.ApplicationType.ToLower() == "client")
                    {
                        remedyLabel = "Version";
                        remedy = Model.ApplicationInformation.Version;
                    }
                    else
                    {
                        remedyLabel = "Web Site";
                        remedy = Model.ApplicationInformation.WebSite;
                    }
                    <div>
                        <input type="hidden" id="hdnUpdateUrl" value="@Url.Action("UpdateApplicationBAOInformation", "BAOInfo")" />
                        <input type="hidden" id="hdnBAOId" value="@Model.Id" />
                        <input type="hidden" id="hdnAppId" value="@Model.ApplicationInformation.ApplicationId" />
                        <input type="hidden" id="hdnAppType" value="@Model.ApplicationInformation.ApplicationType" />
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title" style="display: inline; color: lightcoral;">
                                    Please provide the latest information about 
                                    <span style="color:royalblue">@Model.ApplicationInformation.ApplicationName</span>
                                </h5>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12"><h5>Application Information</h5></div></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Application</label>
                                    <input type="text" class="form-control" id="txtAppName" maxlength="100"
                                           value="@Model.ApplicationInformation.ApplicationName" readonly>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">@remedyLabel</label>
                                    <input type="text" class="form-control" id="txtRemedy" maxlength="100"
                                           value="@remedy" readonly>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Application Changes</label>
                                    @Html.DropDownListFor(x => x.ApplicationInformation.ApplicationInformation,
                                            new List<SelectListItem>{new SelectListItem{Text="No Change",Value="No Change"},
                                            new SelectListItem{Text="Any Updates",Value="Any Updates"},
                                            new SelectListItem{Text="Upgrades",Value="Upgrades"},
                                            new SelectListItem{Text="Retirement",Value="Retirement"},
                                            new SelectListItem{Text="Decommission",Value="Decommission"}},
                                            new { @class = "form-control", @id = "ddlAppInformation" })
                                </div>
                            </div>
                        </div>
                        <div class="row" id="dvComments">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Comments</label>
                                        @Html.TextArea("txtComment", @Model.ApplicationInformation.Comments, new { rows = 10, @class = "form-control TextArea" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12"><h5>Contact Information</h5></div></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Primary App Owner</label>
                                    <input type="text" class="form-control" id="txtBAOP" maxlength="100" value="@Model.BAOwnerPrimary">

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Primary Email</label>
                                    <input type="text" class="form-control" id="txtBAPE" maxlength="100"
                                           value="@Model.BAEmailPrimary">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Primary Phone</label>
                                    <input type="text" class="form-control" id="txtBAPP" maxlength="20" value="@Model.BAPhonePrimary">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Secondary App Owner</label>
                                    <input type="text" class="form-control" id="txtBAOS" maxlength="100"
                                           value="@Model.BAOwnerSecondary">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Secondary Email</label>
                                    <input type="text" class="form-control" id="txtBAES" maxlength="100"
                                           value="@Model.BAEmailSecondary">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Secondary Phone</label>
                                    <input type="text" class="form-control" id="txtBAPS"
                                           maxlength="20" value="@Model.BAPhoneSecondary">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Department</label>
                                    <input type="text" class="form-control" id="txtBADP" maxlength="50"
                                           value="@Model.BAODeptPrimary">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="btnCancel" style="display:none">Cancel</button>
                                <button type="button" class="btn btn-primary pull-right" id="btnUpdate">Update</button>
                            </div>
                        </div>


                        <div class="clearfix"></div>

                        <!--Close div-->
                    </div>
                }
            </div>
        </div>
    </div>
    @* All the required js for this corresponding page should be added here  *@

    @Scripts.Render("~/bundles/appsJs")
    <script>
        //Dom Ready
        $(function () {
            $("#btnUpdate").on("click", function () {
                if (applicationInfoCRUD.validateApplicationInfo()) {
                applicationInfoCRUD.updateApplicationInfo();
                 }
            });
            $('#dvComments').hide();
            $("#ddlAppInformation").change(function () {
                var comments = $("#ddlAppInformation").val();
                if (comments.trim().toUpperCase() == 'NO CHANGE') {
                    $('#dvComments').hide();
                }
                else {
                    $('#dvComments').show();
                }
            });
        });
    </script>
</body>
</html>