@model HiAsgRAS.ViewModel.BAOInfoModel

<input type="hidden" id="hdnSaveBAOUrl" value="@Url.Action("UpdateBAOList", "BAOInfo")" />
<input type="hidden" id="hdnBAOInfoAction" value="@Model.ActionMode" />
<input type="hidden" id="hdnSelectedRowId" value="@Model.Id" />
<input type="hidden" id="txtNewBAOId" value="@Model.NewBAOId" />
<input type="hidden" id="hdnCreatedBy" value="@Model.CreatedBy" />
<input type="hidden" id="hdnCreatedDate" value="@Model.CreatedDate" />


<div class="card">
    <div class="card-header" data-background-color="purple">
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
        <i class="fa fa-anchor" aria-hidden="true"></i> <h4 class="title" style="display: inline;">BAO Information</h4>

    </div>
    <div class="card-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Primary App Owner</label>
                            <input type="text" class="form-control" id="txtBAOP" maxlength="100" value="@Model.BAOwnerPrimary">

                        </div>
                    </div>
                  
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Primary Email</label>
                            <input type="text" class="form-control" id="txtBAPE" maxlength="100"
                                    value="@Model.BAEmailPrimary">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Primary Phone</label>
                            <input type="text" class="form-control" id="txtBAPP" maxlength="20" value="@Model.BAPhonePrimary">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Secondary App Owner</label>
                            <input type="text" class="form-control" id="txtBAOS" maxlength="100"
                                   value="@Model.BAOwnerSecondary">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Secondary Email</label>
                            <input type="text" class="form-control" id="txtBAES" maxlength="100"
                                   value="@Model.BAEmailSecondary">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Secondary Phone</label>
                            <input type="text" class="form-control" id="txtBAPS"
                                   maxlength="20" value="@Model.BAPhoneSecondary">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Department</label>
                            <input type="text" class="form-control" id="txtBADP" maxlength="50"
                                   value="@Model.BAODeptPrimary">
                        </div>
                    </div>
                    <div class="col-md-4" style="display: none;">
                        <div class="form-group label-floating">
                            <label class="control-label">Secondary Department</label>
                            <input type="text" class="form-control" id="txtBADS" maxlength="100"
                                    value="@Model.BAODeptSecondary">
                        </div>
                    </div>
                   
@* <div class="col-md-4">
                        <div class="form-group">
                            @{
            string yesChecked = "", noChecked = "";
            if (!string.IsNullOrEmpty(Model.IsActive) &&
                Model.IsActive.ToLower().Trim().Equals("no"))
            {
               noChecked = "checked='checked'";
            }
            else
            {
                yesChecked = "checked='checked'";                
            }

            <div class="form-group label-floating">
                <label class="control-label">Is Active</label>
                <input type="radio" id="rdYes" name="rdActive" value="yes" style="width: 20px" @yesChecked />Yes &nbsp;
                <input type="radio" id="rdNo" name="rdActive" value="no" style="width: 20px" @noChecked>No
            </div>
                            }
                        </div>
                    </div>*@
                </div>
             

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="btnCancel ">Cancel</button>
                        <button type="button" class="btn btn-primary pull-right" id="btnBAOInfoUpdate">Update</button>
                    </div>
                </div>


                <div class="clearfix"></div>

                <!--Close div-->
            </div>
        }
    </div>
</div>

