
@{
    ViewBag.Title = "";
}


<div class="card">
    <div class="card-header" data-background-color="green">
        <i class="fa fa-share-square" aria-hidden="true"></i> <h4 class="title" style="display: inline;">Shared Network Path</h4>

        <button class="btn btn-warning pull-right" type="button" title="Add New Shared Path" id="btnSharePathAdd">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Shared NW Path
        </button>
    </div>
    <div class="card-content">
        <table class="table table-striped table-bordered table-hover table-condensed table-striped" 
               id="hiSharedPath" style="width:100%;">
            <thead>
                <tr>
                    <th class="sortingDisabled notExport"></th>
                    <th>Name</th>
                    <th>Server Name</th>
                    <th>Shared Path</th>
                    <th>Primary Owner</th>
                    <th>Primary Owner Phone</th>
                    <th>Secondary Owner</th>
                    <th>Secondary Owner Phone</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<input type="hidden" id="uSharedPathList" value="@Url.Action("GetAllSharedPathList", "SharedPath")" />
<input type="hidden" id="uViewSharedPathInformation" value="@Url.Action("ViewSharedPathInformation", "SharedPath")" />
<input type="hidden" id="hdnDeleteSharedPathUrl" value="@Url.Action("DeleteSharedPath", "SharedPath")" />


@* All the required css for this corresponding page should be added here *@
@section head{
    @Styles.Render("~/Content/dataTablecss")
}

@* All the required js for this corresponding page should be added here  *@
@section scripts{
    @Scripts.Render("~/bundles/dataTableJs")
    @Scripts.Render("~/bundles/dataTableExportPlugins")
    @Scripts.Render("~/bundles/appsJs")

    <script>
        //Dom Ready
        $(function () {
            SharedPath.reset_datatable_state();
            SharedPath.searchResult('Y');
        });
    </script>
}




