@{
    ViewBag.Title = "";
}

<div class="card">
    <div class="card-header" data-background-color="purple">
        <i class="fa fa-info-circle" aria-hidden="true"></i> <h4 class="title" style="display: inline;">Application Information</h4>       
    </div>
    <div class="card-content">
        <table class="table table-striped table-bordered table-hover table-condensed table-striped"
               id="hiAppInfo" style="width:100%;">
            <thead>
                <tr>
                    <th class="sortingDisabled notExport"></th>                 
                    <th>Application Name</th>
                    <th>Application Type</th>
                    <th>Application Information</th>                  
                    <th>Comments</th>                  
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<input type="hidden" id="uGetAppInfoList" value="@Url.Action("GetApplicationInfoList", "ApplicationInformation")" />
<input type="hidden" id="uViewappInformation" value="@Url.Action("ViewAppInformation", "ApplicationInformation")" />


@* All the required css for this corresponding page should be added here *@
@section head{
    @Styles.Render("~/Content/dataTablecss")

}


@* All the required js for this corresponding page should be added here  *@
@section scripts{
    @Scripts.Render("~/bundles/dashboardPageJs")
    @Scripts.Render("~/bundles/appsJs")

    <script>
        //Dom Ready
        $(function () {
            applicationInfoCRUD.reset_datatable_state();
            applicationInfoCRUD.getAppInfoList();
        });
    </script>
}

