

<div class="card card-nav-tabs">
    <!-- Header -->
    <div class="card-header" data-background-color="indigo">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs" id="TabList">
                    <li class="active">
                        <a href="#tabServers" data-toggle="tab" data-id="tab0" onclick="setTabIndex(0)">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            Server<div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="">
                        <a href="#tabWebSites" data-toggle="tab" data-id="tab1" onclick="setTabIndex(1)">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            Website<div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="">
                        <a href="#tabDBServer" data-toggle="tab" data-id="tab2" onclick="setTabIndex(2)">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            Database<div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="card-content">
        <button type="button" class="btn btn-primary pull-left" id="btnServerUpdate">Update</button>
        <div class="clearfix"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="tabServers">
                <table class="table table-striped table-bordered table-hover table-condensed table-striped" 
                       id="tblSMServers" style="width: 100%;" >
                    <thead>
                        <tr role="row">
                            <th>
                                <input name="check_all_Server" type="checkbox" id="check_all_Server">&nbsp;All
                            </th>
                            <th>System Name</th>
                            <th>Location</th>
                            <th>IP Address</th>
                            <th>Remedy Group</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane" id="tabWebSites">
                <table class="table table-striped table-bordered table-hover table-condensed table-striped"
                       id="tblSMWeb" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th ><input name="check_all_Web" type="checkbox" id="check_all_Web">&nbsp;All</th>

                            <th>Web Folder</th>
                            <th>Web Stat</th>
                            <th>Remedy Group</th>
                            <th>Primay Contact</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane" id="tabDBServer">
                <table class="table table-striped table-bordered table-hover table-condensed table-striped" id="tblSMDB" style="width:100%">
                    <thead>
                        <tr role="row">
                            <th>
                                <input name="check_all_Db" type="checkbox" id="check_all_Db">&nbsp;All
                            </th>
                            <th>DB Server</th>
                            <th>DB Name</th>
                            <th>Application</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="button" class="btn btn-primary pull-left" id="btnServerUpdate1">Update</button>
    </div>
</div>

<input type="hidden" id="uServerList" value="@Url.Action("GetAllServerList", "HiradServer")" />
<input type="hidden" id="uWebList" value="@Url.Action("GetAllWebList", "Hiradweb")" />
<input type="hidden" id="uDBList" value="@Url.Action("GetDBServerList", "HiradDbMonitor")" />
<input type="hidden" id="hdnTabIndex" />
<input type="hidden" id="uUpdateMonitorList" value="@Url.Action("UpdateMonitorInfo", "MonitoringConfig")" />

@* All the required css for this corresponding page should be added here *@
@section head{
    @Styles.Render("~/Content/dataTablecss")
}

@* All the required js for this corresponding page should be added here  *@
@section scripts{
    @Scripts.Render("~/bundles/dashboardPageJs")
    @Scripts.Render("~/bundles/appsJs")


    <script>
        $(document).ready(function () {

            MonitoringConfig.reset_datatable_state();

            $('#hdnTabIndex').val(0);

            MonitoringConfig.SMServers();

            MonitoringConfig.initOnClickEvents();            
        });

        function setTabIndex(idx) {
            $('#hdnTabIndex').val(idx);
            if (idx == 0)
                MonitoringConfig.SMServers();
            else if (idx == 1)
                MonitoringConfig.SMWebs();
            else if (idx == 2)
                MonitoringConfig.SMDBServers();
        }

    </script>
}